#baza-wiedzy-button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    cursor: pointer;
}

#baza-wiedzy-button_selected {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    background-color: rgb(255, 236, 197);
    cursor: pointer;
}


#baza-wiedzy-buttons{
    display: flex;
}

#baza-wiedzy-title {
    margin: 20px 50px;
}

#baza-wiedzy-tresc {
    margin: 20px 50px;
    width: 50%;
    line-height: 2em;
}

.knowledge-base{
    background-color: white;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 20px gray;
    border-radius: 2rem;
    padding: 2rem;
    height: 92%;
}