#baza-wiedzy-spis{
    width: 35%;
    float: right;
    height: calc(100% + 2rem);
    border-radius: 0 2rem 0rem 0;
    margin: -1rem -1rem -1rem 0;
    background-color: #ddd;
    position: sticky;
    top: -1rem;
}

#baza-wiedzy-buttons::-webkit-scrollbar{
    background-color: transparent;
    display: none;
}

#baza-wiedzy-spis h2{
    text-align: center;
}

.knowledge-base-button{
    width: 100%;
    margin: 0.25rem 0;
    height: 3rem;
    border: 0;
    background-color: #ddd;
    border-radius: 1rem 0 0 1rem;
    line-height: 1rem;
}

.knowledge-base-button:hover{
    scale: 110%;
    margin-left: -5%;
    font-weight: bold;
}

#button-selected {
    background-color: #ffb700;
    color: white;
    cursor: pointer;
    scale: 115%;
    margin-left: -7.5%;
    font-weight: bold;
}

#baza-wiedzy-title {
    margin: 20px 50px;
}

#baza-wiedzy-tresc {
    margin: 20px 50px;
    width: 50%;
    line-height: 2em;
}

.knowledge-base{
    background-color: white;
    width: 60%;
    margin: 5vh auto;
    box-shadow: 0 0 20px gray;
    border-radius: 2rem;
    padding: 1rem;
    height: 75vh;
    overflow-y: auto;
}

.knowledge-base::-webkit-scrollbar {
    display: none;
}