@import url(../index.css);

#narzedzie-title {
    margin: 20px 50px;
}

#narzedzie_button_yellow {
    background-color: #ffb700;
    font-weight: bold;
}

#narzedzie_button_blue {
    background-color: #78afbd;
    font-weight: bold;
}

#narzedzie_button_gray {
    background-color: #969696;
    font-weight: bold;
}

.narzedzie_container {
    background-color: white;
    width: 60%;
    margin: 5vh auto;
    box-shadow: 0 0 20px gray;
    border-radius: 2rem;
    padding: 1rem 1rem 2rem 1rem;
    height: 85%;
    text-align: center;
    align-content: center;
    overflow-y: auto;
}

.narzedzie_container button {
    transition: none;
}

.narzedzie_container img {
    width: 40%;
    margin: 1rem;
}

.narzedzie_container::-webkit-scrollbar {
    display: none;
}


#sprawdz_stan {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 3%;
}

#check_condition_p {
    width: 25%;
    color: #78afbd;
}

#check_condition_button {
    background-color: #78afbd;
    color: white;
    border: 0px;
    font-weight: bold;
}

tbody {
    text-align: left;
}

table {
    margin: auto;
}

tr {
    border: 1px solid black;
}

.menu{
    width: calc(50% + 1rem);
    height: calc(100% + 3rem);
    float: left;
    background-color: lightgray;
    margin: -1rem 0 -2rem -1rem;
    border-radius: 2rem 0 0 2rem;
    position: relative;
}

.menu h3{
    background-color: #ddd;
    width: 80%;
    margin: 2rem auto 0;
    line-height: 2.5rem;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.menu hr{
    clear: both;
    width: 90%;
    margin: auto;
}

.menu ul{
    list-style: none;
    width: 80%;
    margin: auto;
    padding: 0.5rem 0 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #eee;
    overflow: visible;
}

.menu li{
    cursor: pointer;
    line-height: 2rem;
    color: black;
    width: 100%;
}

.menu li:hover{
    scale: 1.05;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px lightgray;
    background-color: #f9f9f9;
}

.menu .read+ul li:hover{
    background-color: #cee5eb;
    box-shadow: 0 0 5px gray;
}

.read{
    background-color: #78afbd !important;
    color: white;
}

.read+ul{
    background-color: #aad4de;
    box-shadow: 0 0 10px gray;
}

.categ-hidden{
    overflow-y: hidden;
}

.categ-hidden li{
    font-size: 0.5rem;
    margin-top: -2rem;
    font-size: 0;
    color: #eee;
    visibility: hidden;
    background-color: transparent !important;
}

.information{
    width: 100%;
    height: 100%;
    text-align: justify;
    float: left;
    background-color: white;
    border-radius: 0 2rem 2rem 0;
}

.right-panel{
    width: calc(50% - 1rem);
    height: calc(100% + 1rem);
    float: left;
    margin: -1rem -1rem -2rem 0;
    padding: 1rem;
    position: relative;
}

.information::-webkit-scrollbar{
    visibility: visible;
}

.rotated-arrow{
    transform: scale(1, -1);
}

.uncover-arrow{
    float: right;
    font-size: 1.5rem;
    stroke-width: 1px;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

.return-arrow{
    float: left;
    font-size: 2.5rem;
    stroke-width: 1px;
    margin: 1rem;
    cursor: pointer;
}

.return-arrow:hover{
    filter: drop-shadow(0 0 5px black);
}

#submit-condition-btn{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #78afbd;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#submit-condition-btn:hover{
    transform: scale(1.1) translateX(-45%);
    box-shadow: 0 0 10px #5c5c5c;
}

#submit-condition-btn.disable{
    transform: scale(1) translateX(-50%) !important;
    box-shadow: none;
    cursor: not-allowed;
    background-color: #969696;
}

#check-btn{
    width: 40%;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    left: 6.6%;
    line-height: 2rem;
    background-color: #78afbd;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.15rem;
}

#check-btn:hover, #continue-btn:hover{
    scale: 1.1;
    box-shadow: 0 0 10px #5c5c5c;
}

#check-btn input[type="checkbox"]{
    transform: scale(1.5);
    border: none;
    margin: 0 1rem -0.2rem 0.2rem;
    background-color: white;
    height: 1.2rem;
    width: 1.2rem;
}

#check-btn input[type="checkbox"]:checked::after{
    content: "✖";
}

#check-btn:hover input[type="checkbox"]{
    box-shadow: inset 0 0 5px gray;
}

#continue-btn{
    width: 30%;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 6.6%;
    line-height: 2rem;
    background-color: #78afbd;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.15rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
}

input[type="checkbox"]:checked {
    background-color: transparent;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.rating_condition {
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#info_button {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    background-color: #78afbd;
    font-weight: bold;
    border-radius: 2rem;
    line-height: 2rem;
    padding: 0;
}

#narzedzie-opis{
    width: 50%;
    float: right;
    height: auto;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 0.1rem solid black;
    margin-top: 3rem;
    min-height: 100%;
}

.wynik_koncowy {
    width: 40%;
    height: 50%;
    background-color: #eee;
    text-align: center;
    border-radius: 2rem;
}

.wynik_koncowy_black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}