@import url(../index.css);

#narzedzie-title {
    margin: 20px 50px;
}

#narzedzie_button_yellow {
    background-color: #ffb700;
    font-weight: bold;
}

#narzedzie_button_blue {
    background-color: #78afbd;
}

#narzedzie_button_gray {
    background-color: #969696;
    font-weight: bold;
}

.narzedzie_container {
    background-color: white;
    width: 60%;
    margin: 5vh auto;
    box-shadow: 0 0 20px gray;
    border-radius: 2rem;
    padding: 1rem 1rem 2rem 1rem;
    height: 75vh;
    text-align: center;
    align-content: center;
    overflow-y: auto;
}

.narzedzie_container button {
    transition: none;
}

.narzedzie_container img {
    width: 40%;
    margin: 1rem;
}

.narzedzie_container::-webkit-scrollbar {
    display: none;
}


#sprawdz_stan {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 3%;
}

#check_condition_p {
    width: 25%;
    color: #78afbd;
}

#check_condition_button {
    background-color: #78afbd;
    color: white;
    border: 0px;
    font-weight: bold;
}

tbody {
    text-align: left;
}

table {
    margin: auto;
}

tr {
    border: 1px solid black;
}

.menu{
    width: calc(50% + 1rem);
    height: calc(100% + 3rem);
    float: left;
    background-color: lightgray;
    margin: -1rem 0 -2rem -1rem;
    border-radius: 2rem 0 0 2rem;
    position: relative;
}

.menu h3{
    background-color: #ddd;
    width: 70%;
    padding: 0 10%;
    margin: 2rem auto 0;
    line-height: 2.5rem;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.menu hr{
    clear: both;
    width: 90%;
    margin: auto;
}

.menu ul{
    list-style: none;
    width: 90%;
    margin: auto;
    padding: 0.5rem 0 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #eee;
}

.menu ul::-webkit-scrollbar{
    display: none;
}

.menu li{
    cursor: pointer;
    line-height: 2rem;
    color: black;
    width: 100%;
}

.menu li.bold{
    font-weight: bold;
}

.menu li:hover{
    scale: 1.05;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px lightgray;
    background-color: #f9f9f9;
}

.menu .read+ul li:hover{
    background-color: #cee5eb;
    box-shadow: 0 0 5px gray;
}

.menu .read+ul li.checked{
    background-color: #cee5eb;
}

.read{
    background-color: #78afbd !important;
    color: white;
}

.read+ul{
    background-image: linear-gradient(#aad4de, #aad4de, #aad4de, hsl(192, 44%, 73%));
    box-shadow: 0 0 10px gray;
    margin-bottom: 2rem;
}

.total-categs-wrapper{
    height: 55vh;
    overflow-y: scroll;
    padding-bottom: -2rem;
}

.total-categs-wrapper::-webkit-scrollbar{
    display: none;
}

.shadow{
    width: 95%;
    height: 2rem;
    border: none;
    color: lightgray;
    box-shadow: 0 -1rem 20px lightgray;
    overflow: visible;
    position: relative;
    z-index: 5;
    padding-top: -1rem;
}

.categ-hidden{
    overflow-y: hidden;
}

.categ-hidden li{
    font-size: 0.5rem;
    margin-top: -2rem;
    font-size: 0;
    color: #eee;
    visibility: hidden;
    background-color: transparent !important;
}

.information{
    width: 100%;
    height: 100%;
    text-align: justify;
    float: left;
    background-color: white;
    border-radius: 0 2rem 2rem 0;
    position: relative;
}

.right-panel{
    width: calc(50% - 1rem);
    height: calc(100% + 1rem);
    float: left;
    margin: -1rem -1rem -2rem 0;
    padding: 1rem;
    position: relative;
}

.information-content{
    padding: 0 2rem;
}

.information-content h2{
    text-align: center;
    text-decoration: underline;
}

.information-content h3{
    text-align: left;
    margin: 0;
}

.information::-webkit-scrollbar{
    visibility: visible;
}

.information-message{
    width: 65%;
    min-height: 10%;
    padding: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: lightgray;
    box-shadow: -10px 10px 30px gray;
    text-align: left;
    font-size: 1.1rem;
    transform: translate(-50%, -50%);
}

.information-message svg{
    font-size: 6rem;
    stroke-width: 2px;
    color: darkgray;
    margin-top: 1rem;
}

.information-message h3{
    margin: 0;
}

#submit-msg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000088;
    z-index: 1000;
}

#submit-msg .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 20%;
    border-radius: 2rem;
    box-shadow: 0 0 20px black;
}

#submit-msg p{
    padding: 1rem 2rem;
    width: calc(100%-4rem);
    background-color: lightgray;
    height: 100%;
    margin: 0;
    font-size: 1.2rem;
    border-radius: 0 0 2rem 2rem;
    position: relative;
}

#submit-msg h3{
    padding: 0 2rem;
    width: calc(100%-4rem);
    margin: 0;
    height: 4.5rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 4.5rem;
    border-radius: 2rem 2rem 0 0;
}

#submit-msg button{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    border-radius: 2rem;
    border: 0;
    line-height: 0.5rem;
    padding: 0;
    height: 3rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

#submit-msg button:hover{
    box-shadow: 0 0 10px gray;
    transition: all 0.2s ease-in-out;
}

#submit-msg .k{
    background-color: rgb(146, 15, 44);
    color: white;
}

#submit-msg .s{
    background-color: #ffb700;
    color: black;
}

#submit-msg .d{
    background-color: rgb(59, 179, 79);
    color: white;
}

.uncover-arrow{
    float: right;
    font-size: 1.5rem;
    stroke-width: 1px;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
    z-index: 3;
}

.rotated-arrow{
    transform: scale(1, -1) translateY(50%);
}

.return-arrow{
    float: left;
    font-size: 2.5rem;
    stroke-width: 1px;
    margin: 1rem;
    cursor: pointer;
}

.return-arrow:hover{
    filter: drop-shadow(0 0 5px black);
}

#submit-condition-btn{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #78afbd;
    text-shadow: 0 0 10px white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 0 10px #5c5c5c;
}

#submit-condition-btn:hover{
    transform: scale(1.1) translateX(-45%);
}

#submit-condition-btn.disable{
    transform: scale(1) translateX(-50%) !important;
    box-shadow: none;
    cursor: not-allowed;
    background-color: #969696;
    text-shadow: none;
}

#check-btn{
    width: 40%;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    left: 6.6%;
    line-height: 2rem;
    background-color: #78afbd;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.15rem;
    z-index: 2;
}

#check-btn:hover, #continue-btn:hover{
    scale: 1.1;
    box-shadow: 0 0 10px #5c5c5c;
}

#check-btn input[type="checkbox"]{
    border: none;
    margin: 0 1rem -0.2rem 0.2rem;
    background-color: white;
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
}

#check-btn input[type="checkbox"]:checked::after{
    content: "✖";
}

#check-btn:hover input[type="checkbox"]{
    box-shadow: inset 0 0 5px gray;
}

#symptom-range{
    --track-pad: 0.2rem;
    --thumb-wid: 0.8rem;
    width: calc(40% + 2rem);
    position: absolute;
    bottom: 2rem;
    left: 6.6%;
    background-color: #78afbd;
    border-radius: 1rem;
    z-index: 1;
    opacity: 0;
    text-align: center;
}

.range-wrapper {
    position: relative;
    max-width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
}

#symptom-range input[type="range"] {
    width: 100%;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    z-index: 5;
}

#symptom-range input[type="range"]:focus {
  outline: none;
}

#symptom-range input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff55;
  border-radius: 0.5rem;
  height: 1.2rem;
  padding: var(--track-pad);
  width: 100%;
}

#symptom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 0.5rem;
  height: 0.8rem;
  width: var(--thumb-wid);
  transition: all 0.1s ease-in-out;
}

#symptom-range input[type="range"]::-webkit-slider-thumb:hover{
    scale: 1.2;
    box-shadow: white 0 0 1rem;
}

#symptom-range input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #ffffff55;
  outline-offset: 0.125rem;
}

#symptom-range p{
    color: white;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.range-bubble {
    position: absolute;
    top: -1.8rem;
    left: calc(
        var(--track-pad) + 
        (var(--thumb-wid) / 2) + 
        (100% - (var(--track-pad) * 2) - var(--thumb-wid)) * (var(--range-val) / 9)
    );
    transform: translateX(-50%);
    transition: none;
    background: rgb(230, calc(230 * calc(1 - var(--green-color))), 100);
    color: black;
    min-width: 1.3rem;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
}

.range-bubble::after {
    content: "";
    position: absolute;
    bottom: -5.5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid rgb(230, calc(230 * calc(1 - var(--green-color))), 100);
}

#check-btn:has(input:checked) + #symptom-range{
    bottom: 7rem;
    opacity: 1;
}

#continue-btn{
    width: 30%;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 6.6%;
    line-height: 2rem;
    background-color: #78afbd;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.15rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
}

input[type="checkbox"]:checked {
    background-color: transparent;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.rating_condition {
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#info_button {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    background-color: #78afbd;
    font-weight: bold;
    border-radius: 2rem;
    line-height: 2rem;
    padding: 0;
}

#narzedzie-opis{
    width: 50%;
    float: right;
    height: auto;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 0.1rem solid black;
    margin-top: 3rem;
    min-height: 100%;
}

.wynik_koncowy {
    width: 40%;
    height: 50%;
    background-color: #eee;
    text-align: center;
    border-radius: 2rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.wynik_koncowy_black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}