#narzedzie-title {
    margin: 20px 50px;
}

#ob_pol {
    /* background-color: rgb(219, 233, 237); */
    background-color: rgb(120, 175, 189);
    font-weight: bold;
}

#ob_wl {
    /* background-color: rgb(255, 236, 197); */
    background-color: rgb(255, 173, 0);
    font-weight: bold;
}

#ob_met {
    /* background-color: rgb(115, 115, 115); */
    background-color: rgb(150, 150, 150);
    font-weight: bold;
}