body {
  --header-height: 100px;
  background-image: url('./assets/background_2.svg');
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid black;
}

main {
  margin-top: var(--header-height);
  overflow: auto;
}

#main-site-desc{
  width: 40%;
  line-height: 3em;
  margin: 40px;
}

h1, p {
  margin: 0;
}

header a, header p, header h1{
  float: left;
}

header a, header a:active, header a:visited {
  text-decoration: none;
  color: black;
}

a img{
  height: 40px;
  clear: both;
}

header a{
 margin: 20px 5%;
 font-weight: bold;
 text-align: center;
}

header h1{
  width: 20%;
  text-align: center;
  height: 80%;
  margin-top: 10px;
  line-height: 80px;
  margin-right: 20%;
}

#logo{
  height: 100%;
  margin-left: 20px;
  float: left;
}

button {
  margin: 20px 20px 20px 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  width: 250px;
  height: 70px;
  cursor: pointer;
}