body {
  --header-height: 100px;
  background-image: url('./assets/background2.svg');
  background-size: 1920px;
  background-attachment: fixed;
  background-position: calc(1920px + 100vw) -350px;
  transition: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: lightgray;
  box-shadow: 0 0 20px #000000aa;
}

nav{
  height: 100px;
  width: 60%;
  margin: auto;
  float: left;
}

main {
  margin-top: var(--header-height);
  overflow: auto;
  padding: 50px;
  height: calc(100vh - 200px);
  overflow: hidden;
}

#main-site-desc{
  width: 40%;
  line-height: 3em;
  margin: 40px;
}

h1, p {
  margin: 0;
}

header a, header p, header h1{
  float: left;
}

header a, header a:active, header a:visited {
  text-decoration: none;
  color: black;
}

img{
  height: 60px;
  padding: 10px 20px;
  float: left;
}

#language-container{
  margin-top: 10px;
  margin-left: 1rem;
  line-height: 80px;
}

#language-container select{
  font-size: 1.2rem;
  background-color: #eee;
  border: 0;
  border-radius: 1rem;
  padding: 10px;
}

header a{
 margin: 10px 2%;
 font-weight: bold;
  background-color: lightgray;
 text-align: center;
 border-radius: 2rem;
}

header a:hover, .selected-location{
  scale: 115%;
  box-shadow: 0 0 10px gray;
}

a p{
  line-height: 60px;
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 1.4rem;
}

header h1{
  width: 25%;
  height: 80%;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 300%;
  line-height: 80px;
  letter-spacing: 0.7rem;
  line-height: 2.5rem;
  color: white;
  text-shadow: -4px 4px black;
}

#logo{
  height: 100%;
  margin-left: 20px;
  float: left;
}

button {
  margin: 20px 20px 20px 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  width: 250px;
  height: 70px;
  cursor: pointer;
}