body {
  --header-height: 5rem;
}

.bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 1920px;
  background-image: url('./assets/background2.svg');
  background-attachment: fixed;
  background-position: right 90%;
  transition: none;
  background-repeat: no-repeat;
}

.bg-dark{
  background-image: url('./assets/bg-dark-2.svg') !important;
  color: white;
}

.text-w{
  color: white !important;
}

.bg-b{
  background-color: black !important;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: lightgray;
  box-shadow: 0 0 20px #000000aa;
  padding: 0 10px;
}

nav{
  height: 100%;
  width: 50%;
  float: left;
}

main {
  margin-top: 10vh;
  height: 90vh;
  overflow: hidden;
}

#main-site-desc{
  width: 40%;
  line-height: 3em;
  margin: 40px;
}

h1, p {
  margin: 0;
}

header a, header p, header h1{
  float: left;
}

header a, header a:active, header a:visited {
  text-decoration: none;
  color: black;
}

nav img{
  height: 30px;
  padding: 10px 10px;
  float: left;
}

#language-container{
  line-height: 40px;
  height: 100%;
  width: 25%;
  float: right;
  text-align: right;
}

.lang-hidden{
  opacity: 0;
  transform: translateX(350px) translateY(40px) scale(0);
}

.rotate{
  transform: scale(-1, 1);
}

.lang-button img{
  float: right;
  height: 40px;
  margin-top: 10px;
  margin-right: 5px;
}

.lang-button{
  background-color: #ddd;
  height: 60px;
  width: 80px;
  border-radius: 0 1rem 0 1rem;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  position: relative;
  z-index: 1000;
}

.lang-button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

.lang-button svg{
  height: 60px;
  margin: 0;
  float: left;
}

nav a{
 width: 22.5%;
 margin: 15px 5%;
 background-color: lightgray;
 text-align: center;
 border-radius: 0 1rem 0 1rem;
}

header a:hover, .selected-location{
  scale: 115%;
  box-shadow: 0 0 10px gray;
}

.selected-location{
  background-color: #ddd;
  font-weight: bold;
}

header a p{
  line-height: 30px;
  float: left;
  margin: 10px 0;
  font-size: 1rem;
}

header h1{
  width: 25%;
  height: 80%;
  margin-top: 0;
  font-size: 225%;
  line-height: 2.25rem;
  letter-spacing: 0.5rem;
  color: black;
  text-shadow: -4px 4px white;
}

button {
  margin: 20px 20px 20px 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 1rem 0 1rem;
  width: 250px;
  height: 70px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav { width: 100%; }
  .knowledge-base { width: 90%; }
  #main-site-desc { width: 80%; }
}

/* @media (min-width: 1800px) {
  body{

  }

  .knowledge-base{

  }
  main div {
    width: 40%; 
    max-width: 800px; 
    max-height: 550px;
  }
} */